@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap");
.header {
  background: linear-gradient(rgba(29, 30, 35, 0.8), rgba(29, 30, 35, 0.8)), url(../img/menupri.jpeg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-items: center;
  min-height: 700px;
  padding: 80px 0 0 0;
}
.header .container {
  max-width: 1200px;
  margin: 0 auto;
}
.header .menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  align-items: center;
  justify-content: space-between;
}
.header .menu .navbar ul li {
  position: relative;
  float: left;
}
.header .menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #FFFFFF;
  display: block;
  font-weight: 600;
}
.header .menu .navbar ul li a:hover {
  color: #e6b01d;
}
.header .menu .menu-icono {
  width: 25px;
}
.header .menu label {
  cursor: pointer;
  display: none;
}

.logo {
  color: #e6b01d;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}

#menu {
  display: none;
}

.header-content .header-txt {
  text-align: center;
  padding: 0 200px;
}
.header-content .header-txt h1 {
  font-size: 85px;
  line-height: 1;
  color: #FFFFFF;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 20px;
}

.about {
  padding: 100px 0;
  background-color: #24272e;
}
.about .about-content {
  display: flex;
  align-items: center;
}
.about .about-content .about-txt {
  flex-basis: 50%;
  padding-right: 35px;
}
.about .about-content .about-img {
  flex-basis: 50%;
}
.about .about-content .about-img img {
  border-radius: 15px;
}

.testimonial {
  padding: 100px 0;
  background-color: #191a1f;
  text-align: center;
}
.testimonial .testimonial-content {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.testimonial .testimonial-content .testimonial-1 {
  flex-basis: calc(50% - 25px);
  background-color: #24272e;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.testimonial .testimonial-content .testimonial-1 h4 {
  color: #e6b01d;
  font-size: 15px;
  margin-bottom: 15px;
}
.testimonial .testimonial-content .testimonial-1 p {
  font-size: 15px;
  margin-bottom: 10px;
}
.testimonial .testimonial-content .testimonial-1 .face {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #e6b01d;
  margin-bottom: 15px;
}
.testimonial .testimonial-content .testimonial-1 .start {
  width: 100px;
}

.blog {
  padding: 100px 0;
  text-align: center;
  background-color: #24272e;
}
.blog .blog-content {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.blog .blog-content .blog-1 {
  flex-basis: calc(33.3% - 25px);
  background-color: #191a1f;
}
.blog .blog-content .blog-1 img {
  margin-bottom: 15px;
}
.blog .blog-content .blog-1 .blog-txt {
  padding: 20px;
}
.blog .blog-content .blog-1 .blog-txt h3 {
  color: #FFFFFF;
  font-size: 18px;
  margin: 15px 0;
}

.plans {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #24272e;
}
.plans hr {
  width: 5%;
}
.plans .plans-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}
.plans .plans-content .plan-1 {
  flex-basis: calc(33.3% - 20px);
  border: 1px solid rgba(81, 81, 81, 0.4745098039);
  padding: 30px 50px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.plans .plans-content .plan-1 .span {
  font-size: 40px;
  font-weight: 800;
  color: #FFFFFF;
}
.plans .plans-content .plan-1 h3 {
  padding: 8px;
  font-size: 25px;
  color: #FFFFFF;
  margin: 25px 0 35px 0;
  background: linear-gradient(rgb(245, 171, 33) 0%, rgb(245, 188, 66) 100%);
}
.plans .plans-content .plan-1 p {
  margin-bottom: 20px;
}

.information {
  background-color: #191a1f;
}
.information .information-content {
  display: flex;
}
.information .information-content .information-txt {
  flex-basis: 50%;
  max-width: 500px;
  margin: 0 auto;
  padding: 80px 0 0 0;
}
.information .information-content .information-img {
  flex-basis: 50%;
}
.information .information-content .information-img img {
  height: 100%;
}
.information .information-content .service {
  margin: 50px 0;
  display: flex;
  align-items: center;
}
.information .information-content .service h3 {
  font-size: 17px;
  color: #FFFFFF;
  font-weight: 500;
  margin-left: 15px;
}

/*CONTACTO*/
.contact {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/contacto.jpeg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .contact-content {
  text-align: center;
}

/*FOOTER*/
.footer {
  border-top: 1px solid #24272e;
  background-color: #24272e;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .socialIconos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.footer .socialIconos li {
  list-style: none;
}
.footer .socialIconos li a {
  font-size: 2em;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.footer .socialIconos li a:hover {
  transform: translateY(-10px);
  color: #e6b01d;
}
.footer p {
  color: #ffffff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

@media (max-width: 991px) {
  .header .menu {
    padding: 20px;
  }
  .header {
    min-height: ovh;
    padding: 100px 30px;
  }
  .header .menu label {
    display: initial;
  }
  .header .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #e6b01d;
    display: none;
  }
  .header .menu .navbar ul li {
    width: 100%;
  }
  .header .menu .navbar ul li a:hover {
    color: #191a1f;
  }
  .header .header-content .header-txt {
    text-align: center;
    padding: 0;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .about {
    padding: 30px;
  }
  .about .about-content {
    flex-direction: column;
  }
  .testimonial {
    padding: 30px;
  }
  .testimonial .testimonial-content {
    flex-direction: column;
  }
  .testimonial .testimonial-content .testimonial-1 {
    margin-bottom: 30px;
  }
  .blog {
    padding: 30px;
  }
  .blog .blog-content {
    flex-direction: column;
  }
  .blog .blog-content .blog-1 {
    margin-top: 30px;
  }
  .plans {
    padding: 30px;
  }
  .plans .plans-content {
    flex-direction: column;
    margin-top: 5px;
  }
  .plans .plans-content .plan-1 {
    margin-bottom: 30px;
  }
  .information {
    padding: 30px;
  }
  .information .information-content {
    flex-direction: column;
  }
  .information .information-content .information-txt {
    order: -2;
    padding: 0;
    margin: 30px 0;
  }
  .contact {
    padding: 100px 30px;
  }
  .footer {
    padding: 30px;
  }
  .footer .footer-content {
    flex-direction: column;
    text-align: center;
  }
}
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

::placeholder {
  color: #898989;
}

p {
  font-size: 17px;
  color: #d4d4d4;
  margin-bottom: 35px;
}

.btn-1 {
  display: inline-block;
  padding: 11px 35px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgb(245, 171, 33) 0%, rgb(254, 184, 32) 100%);
}

.span {
  font-size: 14px;
  text-transform: uppercase;
  color: #e6b01d;
}

h2 {
  font-size: 35px;
  color: #FFFFFF;
  margin: 15px 0;
  line-height: 1;
}

hr {
  border: 1px solid #e6b01d;
  width: 36%;
  margin-bottom: 30px;
}

input {
  display: block;
  padding: 17px;
  background-color: transparent;
  border: 1px solid #979797;
  width: 350px;
  font-size: 17px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

/*# sourceMappingURL=estilos.css.map */
