/*FOOTER*/
.footer {
    border-top: 1px solid #24272e;
	background-color: #24272e;
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .socialIconos {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
        li {
            list-style: none;
            a {
                font-size: 2em;
                color: #ffffff;
                margin: 0 10px;
                display: inline-block;
                transition: 0.5s;
                &:hover {
                    transform: translateY(-10px);
                    color: #e6b01d;
                }
            }
        }
    }
    p {
        color: #ffffff;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1em;
    }
}