.plans {
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #24272e;
	hr {
		width: 5%;
	}
	.plans-content {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 25px;
		.plan-1 {
			flex-basis: calc(33.3% - 20px);
			border: 1px solid #51515179;
			padding: 30px 50px;
			text-align: center;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			span {
				font-size: 40px;
				font-weight: 800;
				color: #FFFFFF;
			}
			h3 {
				padding: 8px;
				font-size: 25px;
				color: #FFFFFF;
				margin: 25px 0 35px 0;
				background: linear-gradient(
        rgb(245, 171, 33) 0%,
        rgb(245, 188, 66) 100%
    );
			}
			p {
				margin-bottom: 20px;
			}
		}
	}
}
.information {
	background-color: #191a1f;
	.information-content {
		display: flex;
		.information-txt {
			flex-basis: 50%;
			max-width: 500px;
			margin: 0 auto;
			padding: 80px 0 0 0;
		}
		.information-img {
			flex-basis: 50%;
			img {
				height: 100%;
			}
		}
		.service {
			margin: 50px 0;
			display: flex;
			align-items: center;
			h3 {
				font-size: 17px;
				color: #FFFFFF;
				font-weight: 500;
				margin-left: 15px;
			}
		}
	}
}